<h1 align="center">Liste des voyages</h1><hr>
<table border="10" class="display table table-bordered" id="hidden-table-info">
    <tr>
        <td style="color:red"> Date Debut Voyage </td>
        <td style="color:red"> Date Fin Voyage </td>
        <td style="color:red">Description</td>
        <td style="color:red"> Destination Voyage </td>
        <td style="color:red"> nbPlaces</td>
        <td style="color:red">Image</td>

    </tr>
        {% for voyage in voyages %}
    <tr>

        <td>{{ voyage.dateDebut ? voyage.dateDebut| date('Y-m-d') : ''}}</td>
        <td>{{ voyage.dateFin ? voyage.dateFin | date('Y-m-d') : ''  }}</td>
        <td>{{ voyage.description }}</td>
        <td>{{ voyage.destination }}</td>
        <td>{{ voyage.nbPlaces }}</td>
        <td><img class="image-display" src="{{ asset('/img/'~voyage.img) }}"></td>
    </tr>

    {% endfor %}
    </table>

